.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

#staremoji {
  list-style-type: none;
}

/* Increase table font size */
table {
  font-size: 17px !important;
}

/* Increase table width */
table {
  width: 200% !important;
  height: 150% !important;
}